/* Global CSs */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* navbar start here  */
.custom-nav-item li a {
    color: rgb(40 55 126) !important;
    font-weight: 500 !important;
}

/* banner section */
.banner-section {
    background-image: url(/assets/banner.png);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    position: relative;

}

.custom-height {
    min-height: 75vh;
}

.text-light {
    font-size: 59px;
    font-weight: 300;
    color: #f8f9fa !important;
}

.icon {
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 50%;
    bottom: 12%;
    transform: translate(-50%, -50%);
    animation: upDown 2s linear alternate infinite;
}

@keyframes upDown {
    0% {
        top: 60px;
    }

    100% {
        bottom: 10px;

    }
}

/* who we are section */
.custom-who-we-are {
    margin: 100px 0px;
}

.custom-who-we-are span {
    margin-bottom: 20px;
    display: block;
    width: 50px;
    height: 3px;
    background: #f15828;
}

.custom-who-we-are h1 {
    margin-bottom: 20px;
    color: #1f4f87;
}

.custom-who-we-are p {
    color: #8d8d87;
}