/* Global CSs */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* navbar start here  */
.custom-nav-item li a {
    color: rgb(40 55 126) !important;
    font-weight: 500 !important;
}

/* banner section */
.banner-section {
    background-image: url(/assets/banner.png);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    position: relative;

}

.custom-height {
    min-height: 75vh;
}

.text-light {
    font-size: 59px;
    font-weight: 300;
    color: #f8f9fa !important;
}

.icon {
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 50%;
    bottom: 12%;
    transform: translate(-50%, -50%);
    animation: upDown 2s linear alternate infinite;
}

@keyframes upDown {
    0% {
        top: 60px;
    }

    100% {
        bottom: 10px;

    }
}

/* who we are section */
.custom-who-we-are {
    margin: 100px 0px;
}

.custom-who-we-are span {
    margin-bottom: 20px;
    display: block;
    width: 50px;
    height: 3px;
    background: #f15828;
}

.custom-who-we-are h1 {
    margin-bottom: 20px;
    color: #1f4f87;
}

.custom-who-we-are p {
    color: #8d8d87;
}

/* What we do part  */
.what-we-do {
    background-color: #f7f8f8;
}


.top-content span {
    display: block;
    width: 60px;
    height: 3px;
    background: #f05428;
    margin: auto;
}

.top-content h1 {
    color: #1f4f87;
    margin: 15px 0px 40px;
}

.content {
    position: relative;
}

.content::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: 0.4s all ease-in-out;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,313686+85&0+0,1+86 */
    background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(49, 54, 134, 0.99) 85%, rgba(49, 54, 134, 1) 86%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(49, 54, 134, 0.99) 85%, rgba(49, 54, 134, 1) 86%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(49, 54, 134, 0.99) 85%, rgba(49, 54, 134, 1) 86%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#313686', GradientType=0);
    /* IE6-9 */

}
.content:hover::before{
    height: 100%;
}


.text-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text-content h1 {
    color: #fff;
    font-size: 30px;
}

.wwd-icon {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

.wwd-icon i {
    color: #fff;
    font-size: 22px;
}